@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500&family=Roboto:wght@400;500&display=swap');


body{
    font-family: 'Roboto', sans-serif;
}


.contenedor-grid{
    display: grid;
    grid-template-columns: auto 45%;
}

.lado-izquierdo{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('fondo-login.jpg');
    height: 100vh;
    min-height: 500px;
}

.lado-derecho .card{
    max-width: 500px;
}

.lado-derecho{
    display: grid;
    place-items: center stretch;
}


.h3, .h5{
    text-align: center;
    font-weight: 500;
    margin-bottom: 0.5rem;
}

.h3{
    font-size: 1.5rem;
}

.h5{
    font-size: 1.25rem;
}


@media (max-width: 768px) {
    .lado-izquierdo{
        display: none;
    }

    .lado-derecho{
        margin-top: 50px;
        grid-column: 1 / span 2;
    }
}

